
.card {
  box-shadow: 0 1px 6px -1px #c6cfea !important;
}

select.form-control.w-25.font-weight-bold.bg-gray {
    background: #e6e6e6;
    width: 7rem !important;
    border: none;
}

.icons-holder {
  height: 60px;
  width: 60px;
  border-radius: 9px;
}

