<header class="p-3 mb-3 border-bottom d-flex flex-wrap align-items-center align-content-center justify-content-between">
  <div class="container">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
      <li><a href="#" class="app-text-color nav-link px-2 link-secondary text-dark font-weight-bold">Documentation</a>
      </li>
      <li><a href="#" class="app-text-color nav-link px-2 link-dark text-dark font-weight-bold">Technical
          Reference</a></li>
      <li><a href="#" class="app-text-color nav-link px-2 link-dark text-dark font-weight-bold">API Explorer</a></li>
      <li class="mt-1 ml-3"><img src="../assets/images/search.svg" height="20px"></li>
    </ul>
  </div>
  <div class="ml-sm-4">
    <span class="app-text-color navbar-brand font-weight-bold" style="right: 0">SHACK15</span>
  </div>

</header>
